.Head{
    margin-top: 3%;
    text-align: center;

}
.primary{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.secondary{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}